node_modules
.DS_Store

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
.shopify/*
dev.sqlite
dev.sqlite-journal
database.sqlite
his_hers_products.json
tmp/
.env
.npm
.DS_Store
*.log
